<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="dummy">
  </rz-heading>
  <rz-link #link0>
  </rz-link>
  <rz-splitbutton #splitbutton0>
  </rz-splitbutton>
  <rz-dropdown #dropdown0 name="dropdown0">
  </rz-dropdown>
  <rz-button #button0 text="roud" (click)="button0Click($event)">
  </rz-button>
  <rz-button #button1 text="raud2" (click)="button1Click($event)">
  </rz-button>
  <rz-button #button2 text="roud3" (click)="button2Click($event)">
  </rz-button>
  <rz-button #button3 text="roud4" (click)="button3Click($event)">
  </rz-button>
</rz-content>
