<rz-content #content1 container="main">
  <rz-panel #panel0 text="Bekræft sletning">
    <div class="row">
      <div class="col-md-2" [ngStyle]="{'right':'2px','textAlign':'center'}">
        <rz-button #button0 [style]="{'backgroundColor':'#ec2424','width':'120px'}" text="Slet">
        </rz-button>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
        <rz-button #button1 [style]="{'backgroundColor':'#484544','marginLeft':'20px','width':'120px'}" text="Fortryd">
        </rz-button>
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </rz-panel>
</rz-content>
